In [ ]:
# Install scikit-learn for machine learning
!pip install scikit-learn

In [ ]:
# Install pandas for data manipulation
!pip install pandas

#### Pandas is used for data manipulation and analysis. It provides powerful data structures like DataFrame and Series, making it easy to clean, transform, analyze, and visualize structured data efficiently.

In [19]:

import pandas as pd

#### sklearn.model_selection provides utilities for splitting datasets into training and testing sets, cross-validation, and other model selection strategies.

In [20]:
from sklearn.model_selection import train_test_split

#### The purpose of using sklearn.linear_model is to provide various linear models for regression and classification tasks. These models are used to make predictions based on linear relationships in the data.

In [21]:
from sklearn.linear_model import LinearRegression

### The purpose of using r2score (R2 score) is to evaluate the performance of a regression model. It measures how well the predicted values match the actual values, indicating the proportion of variance in the dependent variable that is predictable from the independent variables. An R2 score of 1 means perfect prediction, while 0 means the model does not explain any variability.

In [22]:
import sklearn.metrics as r2score

#### The purpose of pd.read_csv is to read a CSV (Comma Separated Values) file and load its data into a pandas DataFrame, making it easy to manipulate and analyze tabular data in Python.

In [23]:
df = pd.read_csv('Salary_Data.csv')
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [24]:
#### This code selects the "YearsExperience" column from the DataFrame df and returns it as a new DataFrame.
independent = df[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [25]:
#### This code selects the "Salary" column from the DataFrame df and returns it as a new DataFrame.
dependent = df[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [26]:
# This code splits the independent and dependent variables into training and testing sets.
# test_size=0.3 means 30% of the data will be used for testing, and 70% for training.
# random_state=0 ensures the split is reproducible.
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size=0.3, random_state=0)

In [27]:
# 1. regressor = LinearRegression()
#    This creates an instance of the LinearRegression model from scikit-learn.

# 2. regressor.fit(X_train, y_train)
#    This trains (fits) the linear regression model using the training data (X_train as input features and y_train as target values).

# 3. y_pred = regressor.predict(X_test)
#    This uses the trained model to predict the target values (salaries) for the test data (X_test).
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
y_pred

array([[ 40817.78327049],
       [123188.08258899],
       [ 65154.46261459],
       [ 63282.41035735],
       [115699.87356004],
       [108211.66453108],
       [116635.89968866],
       [ 64218.43648597],
       [ 76386.77615802]])

In [28]:
## To get the coefficient (slope) of the linear regression model, you can access the coef_ attribute of the trained model. 
# In this case, since we have only one independent variable (YearsExperience), the coefficient will be a single value representing the slope of the regression line.
regressor.coef_[0]

array([9360.26128619])

In [29]:
## To get the intercept (y-intercept) of the linear regression model, you can access the intercept_ attribute of the trained model.
regressor.intercept_[0]

np.float64(26777.391341197632)

In [34]:
## This code calculates the R-squared score, which indicates how well the model's predictions match the actual values.
## A score of 1.0 indicates perfect predictions, while a score of 0 indicates that the model does not explain any of the variability in the target variable.
from sklearn.metrics import r2_score

In [ ]:
# Calculate R-squared score
r2scores = r2_score(y_test, y_pred)
r2scores

0.9740993407213511